.sobre__container{
    background: 
    linear-gradient(rgba(24, 27, 34, 0.8), rgba(32, 8, 8, .8)),
    url(Imagenes/bg-sobre.jpg) no-repeat center / cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.sobre__imagen{
    width: 300px;
    height: 500px;
    display: flex;
    position: relative;
    left: 1000px;
    top: 50px;
    opacity: 0;
    transform: scale(0.9);
    transition: 0.5s ease-in-out all;
}

.sobre__imagen.derecha{
    transform: translateX(50px);
}

.sobre__imagen.visible{
    opacity: 1;
    transform: scale(1) translateX(0);
}